
*{
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
}

.container {
    width: 80%;
    margin: 90px auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.back-to-dashboard {
background-color: #4CAF50;
color: #fff;
padding: 10px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
font-size: 16px;
margin: 10px 0; /* Adjust margin */
display: block;
text-decoration: none;
width: 150px;
}

.back-to-dashboard:hover {
    background-color: #45a049;
}

form {
    margin-top: 20px;
}
.container label{
    font-weight: 600;
    font-size : 15px;
    display: block;
    margin-bottom: 5px;
}
input[type="text"],
input[type="date"],
input[type="time"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    width: 80%;
    margin: auto;
    font-weight: 600;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
.back-card {
position: fixed;
top: 0;
left: 0;
right: 0;
height: 70px;
display: flex;
background-color: #4f9354eb;
justify-content: space-between;
align-items: center;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
padding-bottom: 10px;
box-sizing: border-box;
z-index: 1000;
}

.back-card img {
width: 50px;
border-radius: 50px;
margin-left: 10px;
}

.back-card h2 {
text-align: center;
color: #ffffff;
font-size: 30px;
margin: 0;
flex-grow: 1;
}

.back-card button {
background-color: #fff;
color: #000;
border: none;
height: 40px;
border-radius: 8px;
padding: 10px 20px;
cursor: pointer;
font-weight: 600;
margin: 10px;
transition: background-color 0.3s ease;
}